body {
    margin: 0;
    padding: 0;
}

p,h1 {
    margin: 0;
    padding: 0;
}

.first-panel {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.first-panel-usable{
    height: 50vh;
    width: 50%;
    margin: 25%;
    border: 5px solid blue;
    background-color: white;
}

.name-text {
    color: black;
    padding-top: 15%;
    padding-bottom: 15%;
    margin:auto;
    margin-top: 25%;
    text-align: center;
    border: 5px solid red;
}

.header {
    background-color: red;
    border: 5px;
    position: sticky;
    top: 0;
}